<p id="notice"><%= notice %></p>

<p>
  <strong>Created date:</strong>
  <%= @updateallorder.CREATED_DATE %>
</p>

<p>
  <strong>Performer:</strong>
  <%= @updateallorder.PERFORMER %>
</p>

<p>
  <strong>Category:</strong>
  <%= @updateallorder.CATEGORY %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @updateallorder.DURATION %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @updateallorder.QUALITY %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @updateallorder.DELIVERY_TIME %>
</p>

<p>
  <strong>Order state:</strong>
  <%= @updateallorder.ORDER_STATE %>
</p>

<p>
  <strong>Upload video:</strong>
  <%= @updateallorder.UPLOAD_VIDEO %>
</p>

<p>
  <strong>Performer total:</strong>
  <%= @updateallorder.Performer_TOTAL %>
</p>

<p>
  <strong>C4u commission:</strong>
  <%= @updateallorder.C4U_commission %>
</p>

<p>
  <strong>Gross total:</strong>
  <%= @updateallorder.Gross_Total %>
</p>

<%= link_to 'Edit', edit_updateallorder_path(@updateallorder) %> |
<%= link_to 'Back', updateallorders_path %>
